project: viddiff_0
seed: 0
debug: 0
do_eval: 1 
eval_mode: 0
# a single int, OR path to a json, `ndiff` where the int is in ndiff[split_name][action_name], e.g. ndiff["fitness"]["fitness_0"] = 8
n_differences: data/n_differences.json

logging: 
  name: base_lmm
  results_dir: lmms/results/${logging.name}/seed_${seed}
  overwrite_ok: True
  verbose: 1 

data:
  split: demo
  debug: ${debug}
  eval_mode: ${eval_mode}  
  subset_mode: "0" # works with "3_per_action" for example
  fps: -1
  
lmm:
  api: openai
  model: gpt-4o-mini
  video_representation: frames
  # fps: change video fps to this. -1 means don't change it.
  fps: ${data.fps}
  fps_gemini: -1 # only relevant for Gemini
  # if fps_warning=True, then log warnings if original fps is not exactly divisible by target fps, or if target fps is higher than original fps
  fps_warning: True   
  n_differences: ${n_differences}
  max_imgs: 64

